
body {
    font-family: 'Roboto', 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    align-items: center;
    margin:0;
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
    font-size: 1.3em;
    height: 100%;
    background-color: black;
    }

p {
    margin: 0;
}

#clock {
    color: white;
    font-size: 14em;
    width: 100%;
    height: 65%;
    font-weight: 700;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    vertical-align: top;
}

.sec {
font-size: 100px;
}

.pogoda {
    display: flex;
    height: 35%;
}

.pogoda_container {
    width:50%;
    display: flex;
    float: right;
}
.pogoda_container_description {
    width: 100%;
    text-align: right;
}
.pogoda_container_icon {
    width:100%;
}


.pogoda_container-1 {
    width:50%;
    display: flex;
    float: left;
}
.pogoda_container-1_temp {
    width: 100%;
    text-align: left;
    font-size: 9em;
    margin: 0;
}
.pogoda_container-1_location {
    width:100%;
    display: flex;
    align-items: flex-end;
}

.hidden {
    opacity:0;
}


.daily {
    display: flex;
    height: 35%;
    position: absolute;
    top: 65%;
}

.daily_now, .daily_tomorrow, .daily_after-tomorrow, .daily_after-tomorrow-two, .daily_after-tomorrow-three, .daily_after-tomorrow-four, .daily_after-tomorrow-five, .daily_after-tomorrow-six {
    width: 33%;
    text-align: center;
}

.daily_description-now, .daily_description-tomorrow, .daily_description-after-tomorrow, .daily_description-after-tomorrow-two, .daily_description-after-tomorrow-three, .daily_description-after-tomorrow-four, .daily_description-after-tomorrow-five, .daily_description-after-tomorrow-six{
    white-space: nowrap;
    max-width: 128px;
    overflow: hidden;
    display: none;

}
.now {display: none;}

/*

.verstka {
    background-color: gray;
    border:3px solid blue;

}
*/

@media screen and (min-width: 1025px) {
#clock {
    font-size: 19em;
}
.daily {
    left: 0;
}
.now {
    display: block;
    text-align: center;
}
.now_temp {
    font-size: 8em;
}
}